.form {
  width: 700px;
  background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
  linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
  linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
  linear-gradient(45deg, #c51b62 50%, #a0960d 0) 0 0 #e0d253;
  background-size: 20px 20px;
}