body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(233, 149, 24) 0%, rgb(228, 127, 161) 100%); /* w3c */
}

button {
  cursor: pointer;
}
